@media (max-width: 992px) {
    .main-content {
      flex-direction: column;
    }
    .grid-3 {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 600px) {
    nav ul {
      flex-direction: column;
      gap: 10px;
    }
    .grid-3 {
      grid-template-columns: 1fr;
    }
  }
  .luoi{ 
    width: 100%;     
    padding: 0;              
} 
.chieurongluoi{ 
    max-width: 1200px;       
    margin: 0 auto; 
}    
.hang{ 
    display: flex;             
    flex-wrap: wrap;       
} 
.cot{ 
    padding-left: 8px; 
    padding-right: 8px; 
} 
.cot-0{ 
    display: none;           
} 
.cot-1{         /* 1 cột cơ sở */ 
    flex: 0 0 8.33333%; 
    max-width: 8.33333%; 
} 
.cot-2{ 
    flex: 0  0 16.66666%; 
    max-width: 16.66666%; 
} 
.cot-3{ 
    flex: 0 0 25%; 
    max-width:25%; 
} 
.cot-4{ 
    flex: 0 0 33.33333%; 
    max-width: 33.33333%; 
} 
.cot-5{ 
    flex: 0 0 41.66666%; 
    max-width: 41.66666%; 
} 
.cot-6{ 
    flex: 0 0 50%; 
    max-width: 50%; 
} 
.cot-7{ 
    flex: 0 0 58.33333%; 
    max-width: 58.33333%; 
} 
.cot-8{ 
    flex: 0 0 66.66666%; 
    max-width: 66.66666%; 
} 
.cot-9{ 
    flex: 0 0 75%; 
    max-width: 75%; 
} 
.cot-10{ 
    flex: 0 0 83.33333%; 
    max-width: 83.33333%; 
} 
.cot-11{ 
    flex: 0 0 91.66666%; 
    max-width: 91.66666%; 
} 
.cot-12{ 
    flex: 0 0 100%; 
    max-width: 100%; 
} 
 
/* Với máy tính bảng */ 
@media (min-width: 744px) and (max-width: 1023px){ 
    body{ background-color: blue;   } 
    .cot{ 
        padding-left: 6px; 
        padding-right: 6px;  
    } 
    .maytinhbang-cot-0{ 
        display: none; 
    } 
    .maytinhbang-cot-1{ 
        flex: 0 0 8.33333%; 
        max-width: 8.33333%; 
    } 
    .maytinhbang-cot-2{ 
        flex: 0  0 16.66666%; 
        max-width: 16.66666%; 
    } 
    .maytinhbang-cot-3{ 
        flex: 0 0 25%; 
        max-width:25%; 
    } 
    .maytinhbang-cot-4{ 
        flex: 0 0 33.33333%; 
        max-width: 33.33333%; 
    } 
    .maytinhbang-cot-5{ 
        flex: 0 0 41.66666%; 
        max-width: 41.66666%; 
    } 
    .maytinhbang-cot-6{ 
        flex: 0 0 50%; 
        max-width: 50%; 
    } 
    .maytinhbang-cot-7{ 
        flex: 0 0 58.33333%; 
        max-width: 58.33333%; 
    } 
    .maytinhbang-cot-8{ 
        flex: 0 0 66.66666%; 
        max-width: 66.66666%; 
    } 
    .maytinhbang-cot-9{ 
        flex: 0 0 75%; 
        max-width: 75%; 
    } 
    .maytinhbang-cot-10{ 
        flex: 0 0 83.33333%; 
        max-width: 83.33333%; 
    } 
    .maytinhbang-cot-11{ 
        flex: 0 0 91.66666%; 
        max-width: 91.66666%; 
    } 
    .maytinhbang-cot-12{ 
        flex: 0 0 100%; 
        max-width: 100%; 
    } 
} 
/* với điện thoại */ 
@media (max-width: 743px) { 
    body { background-color: gray; } 
    .cot { 
        padding-left: 4px; 
        padding-right: 4px; 
    } 
    .dienthoai-cot-0{ 
        display: none; 
    } 
.dienthoai-cot-1{ 
    flex: 0 0 8.33333%; 
    max-width: 8.33333%; 
} 
.dienthoai-cot-2{ 
    flex: 0  0 16.66666%; 
    max-width: 16.66666%; 
} 
.dienthoai-cot-3{ 
    flex: 0 0 25%; 
    max-width:25%; 
} 
.dienthoai-cot-4{ 
    flex: 0 0 33.33333%; 
    max-width: 33.33333%; 
} 
.dienthoai-cot-5{ 
    flex: 0 0 41.66666%; 
    max-width: 41.66666%; 
} 
.dienthoai-cot-6{ 
    flex: 0 0 50%; 
    max-width: 50%; 
} 
.dienthoai-cot-7{ 
    flex: 0 0 58.33333%; 
    max-width: 58.33333%; 
} 
.dienthoai-cot-8{ 
    flex: 0 0 66.66666%; 
    max-width: 66.66666%; 
} 
.dienthoai-cot-9{ 
    flex: 0 0 75%; 
    max-width: 75%; 
} 
.dienthoai-cot-10{ 
    flex: 0 0 83.33333%; 
    max-width: 83.33333%; 
} 
.dienthoai-cot-11{ 
    flex: 0 0 91.66666%; 
    max-width: 91.66666%; 
} 
.dienthoai-cot-12{ 
    flex: 0 0 100%; 
    max-width: 100%; 
} 
}  